<div class="content-wrapper">
   <div class="container">
      {{#each post}}
      <div class="row">
         <a href="blog/{{ _id }}">
            <div class="col s12 m10 offset-m1">
               <div class="card" style="position: relative; overflow: hidden;">
                  <div class="card-image">
                     <img class="responsive-img blog_images" style="opacity: 0;" src="{{ imgFeature }}">
                  </div>
                  <div class="card-content">
                     <h3 class="">{{ title }}</h3>
                     <span class="card-title">Created by
                        <strong class="yellow-text text-darken-2">{{ author }}</strong> on {{ friendly_date }}</span>
                     <div style="">
                        {{ subtitle }}
                     </div>
                  </div>
                  <div class="card-action">
                     <a href="blog/{{ _id }}">
                        <strong class="yellow-text text-darken-2">read more...</strong>
                     </a>
                  </div>
               </div>
            </div>
         </a>
      </div>
      {{/each}}
   </div>
</div>
<script type="text/javascript" src="/jquery/jquery-3.2.1.min.js"></script>
<script>
   $(document).ready(function () {
      const $blogImages = $('.blog_images');

      if ($blogImages.length === 1) {
         $blogImages.animate({ opacity: 1 });
      } else {
         $blogImages.map((i, el) => {
            $(el).animate({ opacity: 1 });
         })
      }
   });
</script>